<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Day Task</title>
    <link rel="stylesheet" href="/css/styles.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">

</head>

<body>

    {{#if messages.message}}
    <div class="message">
        <p>{{messages.message}}</p>
    </div>
    {{/if}}

    <header>
        <div class="logo">
            <a href="/">MyDayTask</a>
        </div>
        <div class="cta">

            {{#if session.userid}}
            <a href="/user/logout" class="logout">Sair</a>
            {{else}}
            <a href="/user/register" class="register">Sign up</a>
            <a href="/user/login" class="login">Sign in</a>
            {{/if}}


        </div>
    </header>

    <main>
        <div class="container">
            {{{body}}}
        </div>
    </main>

    <footer>
        <p>Todos direitos reservados a <a href="https://github.com/codebygustavo">Gustavo Couto</a>2024 &copy;</p>
    </footer>

</body>

</html>