<div class="login">
    <div class="text-container">
        <h1>Entre em seu perfil!!</h1>
        <p>Que bom te ver de volta!!</p>
    </div>

    <div class="card">
        <div class="form-controll">
            <form action="/user/login" method="post">
                <h2>Volte a todo vapor!!</h2>

                <input type="email" name="email" placeholder="E-mail">
                <input type="password" name="password" placeholder="Senha">
                <input type="submit" value="Entrar!">
            </form>
        </div>
    </div>
</div>