<div class="register">
    <div class="text-container">
        <h1>Crie um perfil!!</h1>
        <p>Não perca tempo, otimize sua organização!!</p>
    </div>

    <div class="card">
        <div class="form-controll">
            <form action="/user/register" method="post">
                <h2>Comece agora!!</h2>
                <div class="name-control">
                    <input type="text" name="name" placeholder="Nome">
                    <input type="text" name="lastname" placeholder="Sobrenome">
                </div>
                <input type="email" name="email" placeholder="E-mail">
                <input type="password" name="password" placeholder="Senha">
                <input type="password" name="confirmPassword" placeholder="Confirme sua senha">
                <input type="submit" value="Criar conta!">
            </form>
        </div>
    </div>
</div>